* {
  font-family: Inter, sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  background: radial-gradient(circle at top, #111, #000);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background: rgba(20,20,20,.9);
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  width: 320px;
  box-shadow: 0 0 40px #000;
  animation: fadeIn .6s ease;
}

img {
  width: 90px;
  border-radius: 50%;
}

a {
  display: block;
  margin-top: 12px;
  padding: 10px;
  background: #5865F2;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: .2s;
}

a:hover {
  transform: scale(1.05);
}

@keyframes fadeIn {
  from {opacity:0; transform: translateY(20px);}
  to {opacity:1;}
}

